.wrapper {
  .header {
    background-color: yellow;
    color: black;
    margin-top: 20px;
    padding: 10px 0;
  }
  .product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &_img {
      width: 100%;
      height: 350px;
      position: relative;
      img {
        cursor: pointer;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &_infos {
      padding: 2px;
      color: black;
      position: absolute;
      bottom: 0;
      background-color: yellow;
      width: 100%;
      .title {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}
